.location {
    padding: 2em 1em;
    display: grid;
    place-content: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 
.location_container {
    animation: fadeIn 0.5s ease-in-out;
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    border: 2px solid #70a925;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(112, 169, 37, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: #f8f9fa;
    backdrop-filter: blur(10px);
}

.location_container:hover {
    transform: scale(1.03);
    box-shadow: 7px 7px 15px rgba(112, 169, 37, 0.7);
}

.location_name {
    color: #70a925;
    text-align: center;
}

.location_info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.location_item {
    color: #555;
    text-align: center;
    font-size: small;
}

.location_span {
    display: block;
    color: #000;
    font-weight: 700;
    font-size: medium;
}