.resident_card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
}

.resident_card:hover {
    transform: translateY(-5px);
    border: 2px solid #70a925;
    box-shadow: 0 0 15px rgba(112, 169, 37, 0.8), 0 0 25px rgba(112, 169, 37, 0.5);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(112, 169, 37, 0.5);
    }
    100% {
        box-shadow: 0 0 20px rgba(112, 169, 37, 0.9);
    }
}

.resident_header {
    position: relative;
    width: 100%;
    height: 400px;
}

.resident_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
}

.resident_card:hover .resident_img {
    filter: brightness(1.1);
}
    
.resident_status {
    position: absolute;
    top: 2em;
    left: 0;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 0 8px 8px 0;
}

.resident_status.alive {
    background: #28a745;
    color: white;
}

.resident_status.dead {
    background: #dc3545;
    color: white;
}

.resident_status.unknown {
    background-color: #374151;
    color: white;
    animation: subtleBlink 1.5s infinite ease-in-out;
}

@keyframes subtleBlink {
    0% { opacity: 1; }
    50% { opacity: 0.85; }
    100% { opacity: 1; }
}

.resident_body {
    padding: 1em 1.5em;
}

.resident_name {
    border-bottom: 1px solid #999;
    margin: 0;
    padding-bottom: .75em;
    margin-bottom: .75em;
}

.resident_info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resident_item {
    color: #666;
    text-transform: capitalize;
}

.resident_span {
    color: black;
    font-weight: bold;
}